body{
    background-color: #2B3035;
}

hr{
    color: white;
}

a{
    color: white;
}

h1{
    padding-left: 0px;
    color: white;
}

.filters{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.default-sort{
    color: white;
    margin-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.activate-sertificate{
    color: rgb(rgb(172, 56, 154), green, blue)
}

.support-button{
    width: 150px;
    height: 40px;
    background-color: #282338;
}

.icons-support{
    width: 150px;
    height: 30px;
}

.mail{
    width:30px;
    height: 25px;
    border-radius: 10px;
    display: inline;
    justify-content: center;
    color: white;
}

.phone{
    color: white;
    display: inline;

}